.item-screen {
    padding: 0 5%;
    height: 750px;
    margin-top: 80px;
    background-color: white;
    display: grid;
    grid-template-columns: 120px 800px 400px;
    grid-template-rows: auto;
}


.item-all-imgs {
    width: 130px;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-right: 20px;
    overflow: auto;
    overflow-x: hidden;
    direction: rtl;
}

.item-img-cont {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
}

.item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.item-selected-img-cont {
    height: inherit;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 2%;
}

.item-selected-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-brand-text {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px;
}

.product-name-text {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}


.product-order {
    width: 100%;
    height: 52px;
    margin: 0px 0px 40px 0px;
}


.btn-add-to-cart {
    width: 300px;
    background-color: #5ECE7B;
    border: none;
    float: left;
    cursor: pointer;
}

.btn-add-to-cart:active {
    box-shadow: 0px 4px 8px rgba(darken(#1D1F22, 30%));
    transform: scale(.98)
}

.add-to-cart-text {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    line-height: 120%;
    color: white;
}


.product-description-cont {
    width: 300px;
}

.product-description-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    /*  overflow: auto;
    overflow-x: hidden;
    direction: rtl; */
}

.selected-img {
    border: 1px solid darkblue;
}

.selected-size-box {
    background-color: #1D1F22;
    color: white;
}

.item-details {
    height: 760px;
    overflow: auto;
}

.bag-cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgray;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}