* {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
}

.navbar-header {

    position: relative;
    background-color: white;

    height: 80px;
    padding: 0 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.container-btn-pages,
.logo,
.container-icons {
    flex: 1 1 0;
    display: flex;
    height: 100%;
    align-items: center;
}

.container-icons {
    position: relative;
    justify-content: flex-end;
}

.logo {
    justify-content: space-around;
}

.btn-category {
    height: 100%;
    margin: 0 10px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #1D1F22;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.clicked {
    color: #5ECE7B;
    border-bottom: solid;
    border-color: #5ECE7B;
}

/*
.btn-category:hover {
    border-bottom: solid;
    border-color: gray;
}
*/

.icon {
    margin: 10px;
}

.link-shopping-cart {
    position: relative;
}

.shopping-cart-value {
    position: absolute;
    background-color: #1D1F22;
    color: aliceblue;
    border-radius: 50%;
    padding: 1px;
    z-index: 1;
    left: 25px;
    bottom: 7.5px;
    width: 15px;
    height: 15px;
    font-size: small;
}

.dropdown-currencies {
    position: absolute;
    top: 50px;
    right: -10px;
    width: 114px;
    margin: 10px;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.currency-item {
    width: 114px;
    height: 52px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.currency-text {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
    margin: auto;
}


.currency-item:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

.arrow {
    margin: 35% 2px;
}

.currency-container:hover, .icon:hover  {
    cursor: pointer;
}