.dropdown-cart {
    position: absolute;
    top: 50px;
    right: -10px;
    width: 700px;
    margin: 10px;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 3;
}

.bag-items {
    width: 100%;
    padding-left: 15px;
    display: flex;
}

.my-bag-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    text-align: left;
}

.items-num-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
}

.btn-group {

    display: flex;
    justify-content: space-around;
}

.btn-check-out {
    background-color: #5ECE7B;
    color: white;
    margin: 15px;
    width: 330px;
    height: 50px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    border: none;
    cursor: pointer;
}

.btn-view-bag {
    margin: 15px;
    width: 330px;
    height: 50px;
    background-color: white;
    border: solid 1px black;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    cursor: pointer;
}

.btn-check-out:active,
.btn-view-bag:active {
    scale: 0.98;
}

.bag-total-price {
    padding: 15px;
    padding-right: 50px;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.total-price-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin: 0;
}