.product-in-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-brand-text {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 20px 0;
}

.product-name-text {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 20px 0;
}

.product-size,
.product-price,
.product-color {
    margin: 20px 0px;
}

.size-text,
.color-text,
.price-text {

    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin: 10px 0;
    text-align: left;
}


.size-boxes,
.color-boxes {
    display: flex;
}


.size-box-text {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: center;
}

.color-box {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    background-color: #0F6450;
    margin-right: 12px;
}

.price-value-text {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 20px 0;
}

.selected-color {
    width: 34px;
    height: 34px;
    border: 1px solid white;
    /*border: 1px solid white;*/
    outline: 1px solid #5ECE7B;
}

.quantity-imgs {
    height: 300px;
    display: flex;
}

.product-quantity {
    float: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0px;
    box-sizing: border-box;
}

.btn-increasing-quantity,
.btn-decreasing-quantity {
    width: 45px;
    height: 45px;
    border: 1px solid #1D1F22;
    background-color: white;
    cursor: pointer;
}

.btn-increasing-quantity:active,
.btn-decreasing-quantity:active {
    transform: scale(.98);
}

.product-quantity-value {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;

}

.product-imgs-container {
    float: right;
    width: 200px;
    margin: auto 0;
    justify-content: flex-end;
    margin: 20px;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}